<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <style>
        h1 {
            text-align: center;
        }
        form {
            text-align: center;
        }

    </style>
</head>
<body>
  <h1> Reset Your Password </h1>

  <form action="/forgot-password" method="POST">
      Email: <input placeholder="Email" autocomplete="off" type="text" name="email"><br><br>
      <input type="submit" name="forgot-password">
  </form>
</body>
</html>
