<!DOCTYPE html>
<html lang="en">
<body>
  <h1> Register </h1>

  <form action="/register" method="POST">
      Username: <input placeholder="Name" autocomplete="off" type="text" name="name"><br>
        Email: <input placeholder="aaa@bbb.ccc" autocomplete="off" type="text" name="email"><br>
        Password: <input autocomplete="off" type="text" name="password"><br>
        Confirm your password: <input autocomplete="off" type="text" name="password"> <br>
      <input type="submit" name="Register">
  </form>
</body>
</html>
