<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <style>
        h1 {
            text-align: center;
        }
        form {
            text-align: center;
        }

    </style>
</head>
<body>
  <h1> Reset Your Password </h1>

  <form action="/reset-password" method="POST">
    <label>Username: </label>
    <input placeholder="Name" type="text" name="username" id="username" required><br><br>
    <label>New Password: </label>
    <input placeholder="secure password" type="password" name="password" id="password" required><br><br>
    <label>Repeat New Password: </label>
    <input placeholder="same password" type="password" name="password_confirm" id="password_confirm" required><br><br>
    <input type="submit" value="Reset"><br><br>
    <a href="{{url_for('login')}}">Return to Login</a>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
  </form>
</body>
</html>
