<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <style>
        h1 {
            text-align: center;
        }
        form {
            text-align: center;
        }

    </style>
</head>
<body>
  <h1> Reset Your Password </h1>

  <form action="/forgot-password" method="POST">
    <label>Username: </label>
    <input placeholder="Name" type="text" name="username" id="username" required><br><br>
    <label>Email: </label>
    <input placeholder="name@server.com" type="text" name="email" id="email" required><br><br>
    <label> Pin: <input placeholder="Enter your unique pin" autocomplete="off" type="text" name="four_pin" id="four_pin"><br><br>
    <input type="submit" name="forgot-password"><br><br>
    <a href="{{url_for('login')}}">Return to Login</a>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
  </form>
</body>
</html>
